# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
# github actions
.git
.github/
.*ignore
# User-specific stuff
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
node_modules/
# Environments
.env
.venv
env/
venv*/
ENV/
.conda/
dashboard/node_modules/
docs/node_modules/
dashboard/dist/
data/
tests/
.ruff_cache/
.astrbot
astrbot.lock
!.docker-local/
!.docker-local/**
